<!DOCTYPE html>
<html>
<head>
	<title>LOGIN PAGE</title>
</head>
<body>
	VOICI LA PAGE DE LOGIN!

	<form method="post" id="login" name="form">
		<input name="login" type="text" class="input" placeholder="Your login here"/>
		<input name="mail" type="text" class="input" placeholder="your mail"/>
		<input name="password" type="password" class="input"  placeholder="password"/>
		<input name="password_check" type="password" class="input" />
		<input name="new_user" type="submit" class="submit" />
	</form>
</body>
</html>